[Desktop Entry]
Version=1.0
Terminal=false
NoDisplay=false
Icon=org.libreoffice.LibreOffice.math
Type=Application
Categories=Office;Spreadsheet;Education;Science;Math;X-Red-Hat-Base;X-MandrivaLinux-Office-Other;
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/libreoffice/program/soffice --file-forwarding org.libreoffice.LibreOffice --math @@u %U @@
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.sun.xml.math;application/vnd.oasis.opendocument.formula-template;text/mathml;application/mathml+xml;
Name=LibreOffice Math
GenericName=Formula Editor
GenericName[en]=Formula Editor
GenericName[en_GB]=Formula Editor
Comment=Create and edit scientific formulas and equations by using Math.
Comment[en]=Create and edit scientific formulas and equations by using Math.
Comment[en_GB]=Create and edit scientific formulae and equations using Math.
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Equation;OpenDocument Formula;Formula;odf;MathML;
InitialPreference=5
StartupWMClass=libreoffice-math
X-KDE-Protocols=file,http,ftp,webdav,webdavs
Actions=NewDocument;
X-Desktop-File-Install-Version=0.23
X-Endless-Alias=libreoffice-math
X-Flatpak-RenamedFrom=libreoffice-math.desktop;org.libreoffice.LibreOffice-math.desktop;
X-Flatpak=org.libreoffice.LibreOffice
X-XFCE-Source=file:///var/lib/flatpak/exports/share/applications/org.libreoffice.LibreOffice.math.desktop

[Desktop Action NewDocument]
Name=New Formula
Name[en]=New Formula
Name[en_GB]=New Formula
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/libreoffice/program/soffice org.libreoffice.LibreOffice --math
